<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AntoKeberApps" >
        <activity
            android:name=".Home.pertemuan_3.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Home.pertemuan_3.ThirdResultActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pertemuan_3.ThrdActivity" />
        <activity android:name=".pertemuan_4.Custom_1Activity" />
        <activity android:name=".pertemuan_4.Custom_2Activity" />
        <activity android:name=".pertemuan_4.BRuangActivity" />
        <activity android:name=".Pertemuan_6.WebViewActivity" />
    </application>

</manifest>