<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AntoKeberApps">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- ROOM DATABASE -->
        <activity
            android:name=".Home.Note.NoteFormActivity"
            android:exported="false" />

        <!-- ONBOARDING -->
        <activity
            android:name=".Home.onboarding.OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- BASE ACTIVITY -->
        <activity
            android:name=".BaseActivity"
            android:exported="false" />

        <!-- DATA FOTO -->
        <activity
            android:name=".DataFoto.DataFotoActivity"
            android:exported="false" />

        <!-- PERTEMUAN 3 -->
        <activity
            android:name=".Home.pertemuan_3.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".Home.pertemuan_3.ThirdResultActivity"
            android:exported="false" />

        <activity
            android:name=".pertemuan_3.ThrdActivity"
            android:exported="false" />

        <!-- PERTEMUAN 4 -->
        <activity
            android:name=".pertemuan_4.Custom_1Activity"
            android:exported="false" />

        <activity
            android:name=".pertemuan_4.Custom_2Activity"
            android:exported="false" />

        <activity
            android:name=".pertemuan_4.BRuangActivity"
            android:exported="false" />

        <!-- PERTEMUAN 6 -->
        <activity
            android:name=".Pertemuan_6.WebViewActivity"
            android:exported="false" />

        <!-- PERTEMUAN 9 -->
        <activity
            android:name=".pertemuan_9.Pertemuan9Activity"
            android:exported="false" />

        <activity
            android:name=".pertemuan_9.SettingsActivity"
            android:exported="false" />

        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>